<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>453920702464-n182g4t9ncc2vn6id8gff8u4j7e73qov.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.453920702464-n182g4t9ncc2vn6id8gff8u4j7e73qov</string>
	<key>API_KEY</key>
	<string>AIzaSyAT2dpZDhhogoGjAZoRdHQyHTlkwsL-5cQ</string>
	<key>GCM_SENDER_ID</key>
	<string>453920702464</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testSignUp</string>
	<key>PROJECT_ID</key>
	<string>testsignup-ac97b</string>
	<key>STORAGE_BUCKET</key>
	<string>testsignup-ac97b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:453920702464:ios:082aa74316e330a80218e5</string>
</dict>
</plist>